{% render 'custom-cart-icon' %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble" aria-hidden="true"></div>
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
{%- endif -%}
